h1 {
  color: darkblue;
}

.loginImage{
padding-top: 40px;
width: 120px;
height: 120px;
}

body{
padding-bottom: 10%;
padding-left: 10%;
padding-right: 10%;
}

html{
background-image: url(https://besthqwallpapers.com/Uploads/11-6-2018/55083/blue-3d-cubes-blue-sky-3d-architecture-sun-modern-facade.jpg);
max-width: 100%;
height: auto;
}

.divcontainer{
border-radius: 7%;
width: 400px;
height: 500px;
margin: auto;
margin-top: 100px;
background-color: whitesmoke;
}
.registerDivContainer{
border-radius: 7%;
width: 50%;
height: 80%;
margin: auto;
margin-top: 1%;
margin-bottom: 1%;
background-color: whitesmoke;
}

button{
background-color: pink;
}

label{
margin: auto;
}

a{
color: darkblue;
}

.termslabel {
font-size: 10px;
margin: inherit;

}

.join_link{
text-decoration-line: underline;
cursor: pointer;

}

.dashboardContainer {
margin: auto;
margin-top: 5%; 
align-content: center;
width: 50%;
height: 70%;
background-color: whitesmoke;
}

.feed{
font: 200;
}

.likeButtonDiv{
padding-left: 10px;
}

.ideaTitle{
  justify-self: left;
  padding-top: 10px;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px;
}
.categoryTitle{
  justify-self: left;
  padding-top: 10px;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px;
}

.descriptionTitle{
  justify-self: left;
  padding-top: 10px;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px;
}

.ideaOuterBox{
  margin-top: 2%;
  background-color: whitesmoke;
  height: auto;
  width: auto;
}
.anonymousCheckbox{
  margin-left: 0;
}

.anonymousButton{
  justify-self: left;
  padding-right: 100px;
}

.dashboardNavigationBar{
  background-color: whitesmoke;
  border-style: solid;
  border-width: 5px;
}

.titleLabel{
  margin-top: 5%;
}

.ideaDisplayerOuterBox{
  background-color: whitesmoke;
  text-align: left;
}

.displayDiv{
  margin-top: 4%;
  background-color: whitesmoke;
  height: 10%;
}

.labelTitle{
  font-size: x-large;
}

.ideaTitleContainer{
  text-align: left;
  margin-left: 1%;
}


.smallIdeaContainer{
  background-color: blue;
}

.descriptionTextArea{
  font-size: medium;
  width: 98%;
  height: 200%;
}

.ideaDescriptionContainer{
  width: auto;
  height: auto;
  resize: none;
}

.likes{
  text-align: left;
}

.likesLabel{
  font-size: smaller;
}

.commentButton{
  margin-right: 1%;
  float: right;
  
}
.labelDate{
  margin-right: 1%;
  float: right;
  font-size: smaller;
  margin-top: 1%;
}
.labelAuthor{
  margin-left: 15%;
  font-size: smaller;
  float: center;
}

.likeButtons{
  padding-left: 1em;
}

.editBar{
  margin-top: 1%;
  background-color: whitesmoke;
  border-style: dashed;
  border-width: 3px;
}

.checkboxAnonymousSubmission{
  text-align: left;
}

.textfieldTitle{
  width: 90%;
  height: 20%;
}

.labelCreator{
  margin-top: 2%;
}

.whiteBox{
  background-color: white;
  size: 100%;
  width: 40%;
  height: 400%;
}

.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  margin-top: 17%;
  flex: 33.33%;
  padding: 5%;
  background-color: white;
}
